@model IEnumerable<NaturalLife.Models.Data.HomePage>
@{
    ViewBag.Title = "Home Page";
    string[] arrStr;
}
<!-- main banner -->
<div class="banner banner-home">
    <!-- revolution slider starts -->
    <div id="rev_slider_279_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="restaurant-header" style="margin:0px auto;background-color:#474d4b;padding:0px;margin-top:0px;margin-bottom:0px;">
        <div id="rev_slider_70_1" class="rev_slider fullscreenabanner" style="display:none;" data-version="5.1.4">
            <ul>
                <li class="slider-color-schema-dark" data-index="rs-2" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-description="">
                    <!-- main image for revolution slider -->
                    <img src="~/Content/NaturalLife/img/banner/img-01.jpg" alt="image description" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-bgfit="cover" data-no-retina>

                    <div class="tp-caption tp-resizeme" id="slide-897-layer-7"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['top','top','middle','middle']"
                         data-voffset="['160','120','-120','-70']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 9; white-space: nowrap; font-size: 60px; line-height: 100px;text-align:center;">
                        <span class="icon-wildlife"></span>
                    </div>

                    <div class="tp-caption banner-heading-sub tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['top','top','middle','middle']"
                         data-voffset="['280','240','10','20']"
                         data-fontsize="['48','48','44','28']"
                         data-lineheight="['85','85','50','50']"
                         data-width="['1200','1000','750','480']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:0px;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; letter-spacing: 0; font-weight: 100; text-align: center; color: #ffffff">
                        @Model.FirstOrDefault().Slider.FirstOrDefault().Title2
                    </div>

                    <div class="tp-caption banner-heading-sub tp-resizeme rs-parallaxlevel-10"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['top','top','middle','middle']"
                         data-voffset="['340','290','70','70']"
                         data-fontsize="['60','60','60','40']"
                         data-lineheight="['110','110','100','60']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 8; padding-right: 10px; text-indent: 5px; font-weight: bold; white-space: nowrap;">
                        @Model.FirstOrDefault().Slider.FirstOrDefault().SubTitle2
                    </div>

                    <div class="tp-caption rev-btn  rs-parallaxlevel-10" id="slide-163-layer-2"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['150','160','180','150']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power3.easeOut;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1250"
                         data-splitin="none"
                         data-splitout="none"
                         data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
                         data-responsive_offset="on">
                        <a class="btn btn-banner" href="#">@Model.FirstOrDefault().Slider.FirstOrDefault().Slogan2</a>
                    </div>
                </li>

                <li data-index="rs-163" data-transition="slideoververtical" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1500" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-description="">
                    <!-- main image for revolution slider -->
                    <img src="~/Content/NaturalLife/img/villa/0.jpg" data-lazyload="/Content/NaturalLife/img/villa/0.jpg" alt="image" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

                    <div class="tp-caption banner-heading-sub tp-resizeme rs-parallaxlevel-10" id="slide-163-layer-1"
                         data-x="['left','left','left','center']"
                         data-hoffset="['100','100','40','0']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['-40','-40','-100','-40']"
                         data-fontsize="['64','64','64','36']"
                         data-lineheight="['85','85','85','50']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="750"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; letter-spacing: 0; font-weight: 100; text-transform: uppercase; white-space: nowrap; color: #ffffff;">
                        TOURS, DU LỊCH &amp;
                    </div>

                    <div class="tp-caption banner-heading-sub tp-resizeme rs-parallaxlevel-10" id="slide-163-layer-3"
                         data-x="['left','left','left','center']"
                         data-hoffset="['100','100','40','0']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['40','40','-10','0']"
                         data-fontsize="['80','80','80','40']"
                         data-lineheight="['110','110','110','60']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; letter-spacing: 8px; text-indent: 0; font-style: italic; font-weight: 900; white-space: nowrap; color: #b0a377;">
                        KHÁM PHÁ
                    </div>

                    <div class="tp-caption tp-resizeme banner-heading-sub rs-parallaxlevel-0" id="slide-163-layer-4"
                         data-x="['left','left','left','center']"
                         data-hoffset="['100','100','40','60']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['181','181','100','90']"
                         data-fontsize="['36','36','36','26']"
                         data-lineheight="['44','44','44','32']"
                         data-width="['1200','1000','750','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:0px;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 5; letter-spacing: 0; font-weight: 300; font-style: italic; color: #ffffff">
                        <a class="btn btn-banner" href="#">KHÁM PHÁ NGAY</a>
                    </div>
                </li>

                <li data-index="rs-3" data-transition="slideoverup" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1000" data-rotate="0" data-saveperformance="off" data-title="The Menu" data-description="">
                    <!-- main image for revolution slide -->
                    <img alt="image description" src="~/Content/NaturalLife/img/service/ob-thumnail.jpg" data-lazyload="../Content/NaturalLife/img/service/ob-thumnail.jpg" data-bgposition="right center" data-kenburns="on" data-duration="30000" data-ease="Power1.easeOut" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>

                    <div class="tp-caption tp-resizeme" id="slide-897-layer1-7"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['top','top','middle','middle']"
                         data-voffset="['160','120','-120','-70']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 9; white-space: nowrap; font-size: 60px; line-height: 100px;text-align:center;">
                        <span class="icon-camping"></span>
                    </div>

                    <div class="tp-caption banner-heading-sub tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['top','top','middle','middle']"
                         data-voffset="['280','240','10','20']"
                         data-fontsize="['48','48','44','28']"
                         data-lineheight="['85','85','50','50']"
                         data-width="['1200','1000','750','480']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:0px;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; letter-spacing: 0; font-weight: 100; text-align: center; color: #ffffff; text-transform: uppercase;">
                        @*@Model.FirstOrDefault().Title*@
                        tour ông bà
                    </div>

                    <div class="tp-caption tp-resizeme banner-heading-sub rs-parallaxlevel-10"
                         data-x="['center','center','center','center']"
                         data-hoffset="['-80','-80','-80','-60']"
                         data-y="['top','top','middle','middle']"
                         data-voffset="['330','280','60','60']"
                         data-fontsize="['60','60','60','40']"
                         data-lineheight="['110','110','100','60']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 8; padding-right: 10px; text-indent: 2.5em; font-weight: 900; font-style: italic; white-space: nowrap; text-align:center">
                        @*@Model.FirstOrDefault().SubTitle*@
                        Giảm 30%
                    </div>

                    <div class="tp-caption rev-btn rs-parallaxlevel-10" id="slide-163-layer1-2"
                         data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['150','160','180','150']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power3.easeOut;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="800"
                         data-splitin="none"
                         data-splitout="none"
                         data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
                         data-responsive_offset="on">
                        <a class="btn btn-banner" href="/service/detail">
                        @*@Model.FirstOrDefault().Slogan*@
                            khám phá ngay
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="feature-block">
        <div class="holder">
            <ul>
                <li>
                    <a href="#resort">
                        <span class="ico">
                            <span class="icon-resort"></span>
                        </span>
                        <span class="info">Resort</span>
                    </a>
                </li>
                <li>
                    <a href="#tours">
                        <span class="ico">
                            <span class="icon-tour"></span>
                        </span>
                        <span class="info">Tour</span>
                    </a>
                </li>
                <li>
                    <a href="#restaurant">
                        <span class="ico">
                            <span class="icon-restaurant"></span>
                        </span>
                        <span class="info">Nhà hàng</span>
                    </a>
                </li>
                <li>
                    <a href="#rentalService">
                        <span class="ico">
                            <span class="icon-rental"></span>
                        </span>
                        <span class="info">Cho thuê dịch vụ</span>
                    </a>
                </li>
                <li>
                    <a href="#activities">
                        <span class="ico">
                            <span class="icon-entertainment"></span>
                        </span>
                        <span class="info">Hoạt động</span>
                    </a>
                </li>
                <li>
                    <a href="#special">
                        <span class="ico">
                            <span class="icon-special"></span>
                        </span>
                        <span class="info">Đặc biệt</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
<main id="main">
    <!-- article-boxed -->
    <article id="resort" class="content-block article-boxed">
        <div class="container">
            <header class="content-heading">
                <h2 class="main-heading">Hãy cùng khám phá Natural Life của chúng tôi</h2>
                <span class="main-subtitle">Dịch vụ lưu trú</span>
                <div class="seperator"></div>
            </header>
            <div id="ajax_content_wrapper" class="content-holder list-view">
                <article class="article ratingview">
                    <div class="thumbnail" itemscope="" itemtype="#">
                        <div class="img-wrap">
                            <div class="demo-wrapper single-item demo-wrapper-0">
                                <div id="common-slide">
                                    @if (Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 1).Images != null)
                                    {
                                        if (Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 1).Images.Contains(","))
                                        {
                                            arrStr = Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 1).Images.Split(',');
                                            foreach (var item in arrStr)
                                            {
                                                <div style="width: 550px; height: 220px; background: #474d4b url(/Images/website/imageroomtype/@item) center no-repeat / cover;" class="attachment-550x358 size-550x358 wp-post-image" alt="" itemprop="image">
                                                    @*<img width="550" height="358" src="~/Content/NaturalLife/img/room/room-1.jpg" class="attachment-550x358 size-550x358 wp-post-image" alt="" itemprop="image">*@
                                                </div>
                                            }

                                        }
                                        else
                                        {
                                            <div style="width: 550px; height: 220px; background: #474d4b url(/Images/website/imageroomtype/@Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 1).Images) center no-repeat / cover;" class="attachment-550x358 size-550x358 wp-post-image" alt="" itemprop="image">
                                                @*<img width="550" height="358" src="~/Content/NaturalLife/img/room/room-1.jpg" class="attachment-550x358 size-550x358 wp-post-image" alt="" itemprop="image">*@
                                            </div>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <div class="col-left">
                                <header class="heading">
                                    <h3><a href="#" itemprop="name">@Model.FirstOrDefault().RoomType.FirstOrDefault(s=>s.ID == 1).RoomType Natural Life Đà Lạt </a></h3>
                                    <!-- <div class="info-day">11 Ngày</div> -->
                                </header>
                                <p itemprop="description">@Html.Raw(Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 1).Description)</p>
                                <div class="reviews-holder" itemprop="aggregateRating" itemscope="" itemtype="#">
                                    <div class="star-rating">
                                        <input class="product_rating" type="hidden" value="5">
                                        <div class="product_rateYo jq-ry-container" readonly="readonly" style="width: 83px;">
                                            <div class="jq-ry-group-wrapper">
                                                <div class="jq-ry-normal-group jq-ry-group">
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="gray">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="gray" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="gray" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="gray" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="gray" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                </div>
                                                <div class="jq-ry-rated-group jq-ry-group" style="width: 100%;">
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#f39c12">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#f39c12" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#f39c12" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#f39c12" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#f39c12" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-rate" itemprop="reviewCount">2 Đánh giá</div>
                                </div>
                                <footer class="info-footer">
                                    <ul class="ico-list">
                                        <li class="pop-opener">
                                            <span class="icon-family"></span>
                                            <div class="popup">Family</div>
                                        </li>
                                        <li class="pop-opener">
                                            <span class="icon-food-wine"></span>
                                            <div class="popup">Food-wine</div>
                                        </li>
                                        <li class="pop-opener">
                                            <span class="icon-urban"></span>
                                            <div class="popup">Urban</div>
                                        </li>
                                    </ul>
                                    <ul class="ico-action">
                                        <li class="dropdown">
                                            <a class="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="icon-share"></span></a>
                                            <ul class="dropdown-menu drop-social-share">
                                                <li><a href="javascript:void(null);" class="facebook" onclick=""> <span class="ico"> <span class="icon-facebook"></span> </span> <span class="text">Share</span> </a></li>
                                                <li><a href="javascript:void(null);" class="twitter" onclick=""> <span class="ico"> <span class="icon-twitter"></span> </span> <span class="text">Tweet</span> </a></li>
                                                <li> <a href="javascript:void(null);" class="google" onclick=""> <span class="text">+1</span> </a></li>
                                                <li> <a href="javascript:void(null);" class="pin" onclick=""> <span class="ico"> <span class="icon-pin"></span> </span> <span class="text">Pin it</span> </a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(null);" onclick="save_wishlist(1715);" id="wishlistId_1715"><span class="icon-favs"></span></a></li>
                                    </ul>
                                </footer>
                            </div>
                            <aside class="info-aside">
                                <span class="price">
                                    <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                        <span itemprop="price">@Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 1).RoomType</span>
                                    </span>
                                </span>
                                <div class="activity-level">
                                    <div class="ico"> <span class="icon-level7"></span></div>
                                    <span class="text">Extreme</span>
                                </div>
                                <a href="/room/index" class="btn btn-default" itemprop="url">Khám Phá Ngay</a>
                            </aside>
                        </div>
                    </div>
                </article>
                <article class="article ratingview">
                    <div class="thumbnail" itemscope="" itemtype="#">
                        <div class="img-wrap">
                            <div class="demo-wrapper single-item demo-wrapper-0">
                                <div id="bungalow-slide">
                                    @if (Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 2).Images != null)
                                    {
                                        if (Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 2).Images.Contains(","))
                                        {
                                            arrStr = Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 2).Images.Split(',');
                                            foreach (var item in arrStr)
                                            {
                                                <div style="width: 550px; height: 220px; background: #474d4b url(/Images/website/imageroomtype/@item) center no-repeat / cover;" class="attachment-550x358 size-550x358 wp-post-image" alt="" itemprop="image">
                                                    @*<img width="550" height="358" src="~/Content/NaturalLife/img/room/room-1.jpg" class="attachment-550x358 size-550x358 wp-post-image" alt="" itemprop="image">*@
                                                </div>
                                            }

                                        }
                                        else
                                        {
                                            <div style="width: 550px; height: 220px; background: #474d4b url(/Images/website/imageroomtype/@Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 2).Images) center no-repeat / cover;" class="attachment-550x358 size-550x358 wp-post-image" alt="" itemprop="image">
                                                @*<img width="550" height="358" src="~/Content/NaturalLife/img/room/room-1.jpg" class="attachment-550x358 size-550x358 wp-post-image" alt="" itemprop="image">*@
                                            </div>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <div class="col-left">
                                <header class="heading">
                                    <h3><a href="#" itemprop="name">@Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 2).RoomType Natural Life Đà Lạt</a></h3>
                                    <!-- <div class="info-day">11 Ngày</div> -->
                                </header>
                                <p itemprop="description">@Html.Raw(@Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 2).Description)</p>
                                <div class="reviews-holder" itemprop="aggregateRating" itemscope="" itemtype="#">
                                    <div class="star-rating">
                                        <input class="product_rating" type="hidden" value="5">
                                        <div class="product_rateYo jq-ry-container" readonly="readonly" style="width: 83px;">
                                            <div class="jq-ry-group-wrapper">
                                                <div class="jq-ry-normal-group jq-ry-group">
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="gray">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="gray" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="gray" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="gray" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="gray" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                </div>
                                                <div class="jq-ry-rated-group jq-ry-group" style="width: 100%;">
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#f39c12">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#f39c12" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#f39c12" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#f39c12" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#f39c12" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-rate" itemprop="reviewCount">2 Đánh giá</div>
                                </div>
                                <footer class="info-footer">
                                    <ul class="ico-list">
                                        <li class="pop-opener">
                                            <span class="icon-backpacking"></span>
                                            <div class="popup">Backpacking</div>
                                        </li>
                                        <li class="pop-opener">
                                            <span class="icon-family"></span>
                                            <div class="popup">Family</div>
                                        </li>
                                        <li class="pop-opener">
                                            <span class="icon-food-wine"></span>
                                            <div class="popup">Food-wine</div>
                                        </li>
                                        <li class="pop-opener">
                                            <span class="icon-urban"></span>
                                            <div class="popup">Urban</div>
                                        </li>
                                    </ul>
                                    <ul class="ico-action">
                                        <li class="dropdown">
                                            <a class="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="icon-share"></span></a>
                                            <ul class="dropdown-menu drop-social-share">
                                                <li><a href="javascript:void(null);" class="facebook" onclick=""> <span class="ico"> <span class="icon-facebook"></span> </span> <span class="text">Share</span> </a></li>
                                                <li><a href="javascript:void(null);" class="twitter" onclick=""> <span class="ico"> <span class="icon-twitter"></span> </span> <span class="text">Tweet</span> </a></li>
                                                <li> <a href="javascript:void(null);" class="google" onclick=""> <span class="icon-google-plus"></span> </span> <span class="text">+1</span> </a></li>
                                                <li> <a href="javascript:void(null);" class="pin" onclick=""> <span class="ico"> <span class="icon-pin"></span> </span> <span class="text">Pin it</span> </a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(null);" onclick="save_wishlist(627);" id="wishlistId_627"><span class="icon-favs"></span></a></li>
                                    </ul>
                                </footer>
                            </div>
                            <aside class="info-aside">
                                <span class="price">
                                    <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                        <span itemprop="price">@Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 2).RoomType</span>
                                    </span>
                                </span>
                                <div class="activity-level">
                                    <div class="ico"> <span class="icon-level7"></span></div>
                                    <span class="text">Extreme</span>
                                </div>
                                <a href="/room/index" class="btn btn-default" itemprop="url">Khám phá ngay</a>
                            </aside>
                        </div>
                    </div>
                </article>
                <article class="article ratingview">
                    <div class="thumbnail" itemscope="" itemtype="#">
                        <div class="img-wrap">
                            <div class="demo-wrapper single-item demo-wrapper-0">
                                <div id="camping-slide">
                                    @if (Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 3).Images != null)
                                    {
                                        if (Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 3).Images.Contains(","))
                                        {
                                            arrStr = Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 3).Images.Split(',');
                                            foreach (var item in arrStr)
                                            {
                                                <div style="width: 550px; height: 220px; background: #474d4b url(/Images/website/imageroomtype/@item) center no-repeat / cover;" class="attachment-550x358 size-550x358 wp-post-image" alt="" itemprop="image">
                                                    @*<img width="550" height="358" src="~/Content/NaturalLife/img/room/room-1.jpg" class="attachment-550x358 size-550x358 wp-post-image" alt="" itemprop="image">*@
                                                </div>
                                            }

                                        }
                                        else
                                        {
                                            <div style="width: 550px; height: 220px; background: #474d4b url(/Images/website/imageroomtype/@Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 3).Images) center no-repeat / cover;" class="attachment-550x358 size-550x358 wp-post-image" alt="" itemprop="image">
                                                @*<img width="550" height="358" src="~/Content/NaturalLife/img/room/room-1.jpg" class="attachment-550x358 size-550x358 wp-post-image" alt="" itemprop="image">*@
                                            </div>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <div class="col-left">
                                <header class="heading">
                                    <h3><a href="#" itemprop="name">@Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 3).RoomType Natural Life Đà Lạt</a></h3>
                                    <!-- <div class="info-day">18 Ngày</div> -->
                                </header>
                                <p itemprop="description">@Html.Raw(@Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 3).Description)</p>
                                <div class="reviews-holder" itemprop="aggregateRating" itemscope="" itemtype="#">
                                    <div class="star-rating">
                                        <input class="product_rating" type="hidden" value="5">
                                        <div class="product_rateYo jq-ry-container" readonly="readonly" style="width: 83px;">
                                            <div class="jq-ry-group-wrapper">
                                                <div class="jq-ry-normal-group jq-ry-group">
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="gray">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="gray" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="gray" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="gray" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="gray" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                </div>
                                                <div class="jq-ry-rated-group jq-ry-group" style="width: 100%;">
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#f39c12">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#f39c12" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#f39c12" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#f39c12" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#f39c12" style="margin-left: 2px;">
                                                    <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon>
				                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-rate" itemprop="reviewCount">2 Đánh giá</div>
                                </div>
                                <footer class="info-footer">
                                    <ul class="ico-list">
                                        <li class="pop-opener">
                                            <span class="icon-europe"></span>
                                            <div class="popup">Europe</div>
                                        </li>
                                        <li class="pop-opener">
                                            <span class="icon-mountain"></span>
                                            <div class="popup">Mountain</div>
                                        </li>
                                        <li class="pop-opener">
                                            <span class="icon-mountain-biking"></span>
                                            <div class="popup">Mountain-biking</div>
                                        </li>
                                    </ul>
                                    <ul class="ico-action">
                                        <li class="dropdown">
                                            <a class="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="icon-share"></span></a>
                                            <ul class="dropdown-menu drop-social-share">
                                                <li><a href="javascript:void(null);" class="facebook" onclick=""> <span class="ico"> <span class="icon-facebook"></span> </span> <span class="text">Share</span> </a></li>
                                                <li><a href="javascript:void(null);" class="twitter" onclick=""> <span class="ico"> <span class="icon-twitter"></span> </span> <span class="text">Tweet</span> </a></li>
                                                <li> <a href="javascript:void(null);" class="google" onclick=""> <span class="ico"> <span class="icon-google-plus"></span> </span> <span class="text">+1</span> </a></li>
                                                <li> <a href="javascript:void(null);" class="pin" onclick=""> <span class="ico"> <span class="icon-pin"></span> </span> <span class="text">Pin it</span> </a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(null);" onclick="save_wishlist(623);" id="wishlistId_623"><span class="icon-favs"></span></a></li>
                                    </ul>
                                </footer>
                            </div>
                            <aside class="info-aside">
                                <span class="price">
                                    <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                        <span itemprop="price">@Model.FirstOrDefault().RoomType.FirstOrDefault(s => s.ID == 3).RoomType</span>
                                    </span>
                                </span>
                                <div class="activity-level">
                                    <div class="ico"> <span class="icon-level7"></span></div>
                                    <span class="text">Extreme</span>
                                </div>
                                <a href="/room/index" class="btn btn-default" itemprop="url">Khám phá ngay</a>
                            </aside>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </article>
    <!-- article list holder -->
    <div id="tours" class="content-block content-spacing">
        <div class="container">
            <header class="content-heading">
                <h2 class="main-heading">Natural Tour</h2>
                <span class="main-subtitle">Mang con người trở về với thiên nhiên</span>
                <div class="seperator"></div>
            </header>
            <div class="content-holder">
                <div class="row db-3-col">
                    <article class="col-sm-6 col-md-4 article has-hover-s3">
                        <div class="img-wrap">
                            <a href="#">
                                <img src="~/Content/NaturalLife/img/listing/img-01.jpg" height="215" width="370" alt="image description">
                            </a>
                            <div class="img-caption text-uppercase">Tour Cắm trại</div>
                            <div class="hover-article">
                                <div class="star-rating">
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span class="disable"><span class="icon-star"></span></span>
                                </div>
                                <div class="icons">
                                    <a href="#"><span class="icon-heart"></span></a>
                                    <a href="#"><span class="icon-reply"></span></a>
                                </div>
                                <div class="info-footer">
                                    <span class="price">từ<span>2.749.000 VNĐ</span></span>
                                    <a href="/service/detail" class="link-more">Khám phá ngay</a>
                                </div>
                            </div>
                        </div>
                        <h3><a href="/service/detail">Hòa mình với thiên nhiên</a></h3>
                        <p>
                            Hành trình hòa mình và khám phá Thiên Nhiên dành cho các cặp đôi, nhóm bạn,
                            đoàn công ty. Tour mang đến không gian thiên nhiên để quý khách đắm mình tận hưởng ...
                        </p>
                    </article>
                    <article class="col-sm-6 col-md-4 article has-hover-s3">
                        <div class="img-wrap">
                            <a href="#">
                                <img src="~/Content/NaturalLife/img/listing/img-02.jpg" height="215" width="370" alt="image description">
                            </a>
                            <div class="img-caption text-uppercase">Tour Gia đình</div>
                            <div class="hover-article">
                                <div class="star-rating">
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span class="disable"><span class="icon-star"></span></span>
                                </div>
                                <div class="icons">
                                    <a href="#"><span class="icon-heart"></span></a>
                                    <a href="#"><span class="icon-reply"></span></a>
                                </div>
                                <div class="info-footer">
                                    <span class="price">từ<span>2.749.000 VNĐ</span></span>
                                    <a href="/service/detail" class="link-more">Khám phá ngay</a>
                                </div>
                            </div>
                        </div>
                        <h3><a href="/service/detail">Hành trình tìm về thiên nhiên</a></h3>
                        <p>
                            hành trình hòa
                            mình với Thiên Nhiên của gia đình
                            tại Natural life Đà Lạt , đi tìm những
                            điều mộc mạc nhất và gần Thiên Nhiên nhất ...
                        </p>
                    </article>
                    <article class="col-sm-6 col-md-4 article has-hover-s3">
                        <div class="img-wrap">
                            <a href="#">
                                <img src="~/Content/NaturalLife/img/listing/img-03.jpg" height="215" width="370" alt="image description">
                            </a>
                            <div class="img-caption text-uppercase">Tour Công tác</div>
                            <div class="hover-article">
                                <div class="star-rating">
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span class="disable"><span class="icon-star"></span></span>
                                </div>
                                <div class="icons">
                                    <a href="#"><span class="icon-heart"></span></a>
                                    <a href="#"><span class="icon-reply"></span></a>
                                </div>
                                <div class="info-footer">
                                    <span class="price">từ<span>2.749.000 VNĐ</span></span>
                                    <a href="/service/detail" class="link-more">Khám phá ngay</a>
                                </div>
                            </div>
                        </div>
                        <h3><a href="/service/detail">Khởi nguồn sáng tạo</a></h3>
                        <p>Làm việc; nghỉ dưỡng; hội nghị; ăn uống. Khởi nguồn sáng tạo cho doanh nhân, nhạc sĩ ...</p>
                    </article>
                    @*<article class="col-sm-6 col-md-4 article has-hover-s3">
                        <div class="img-wrap">
                            <a href="#">
                                <img src="~/Content/NaturalLife/img/listing/img-04.jpg" height="215" width="370" alt="image description">
                            </a>
                            <div class="img-caption text-uppercase">Tour Đặc biệt</div>
                            <div class="hover-article">
                                <div class="star-rating">
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span class="disable"><span class="icon-star"></span></span>
                                </div>
                                <div class="icons">
                                    <a href="#"><span class="icon-heart"></span></a>
                                    <a href="#"><span class="icon-reply"></span></a>
                                </div>
                                <div class="info-footer">
                                    <span class="price">từ<span>2.749.000 VNĐ</span></span>
                                    <a href="/service/detail" class="link-more">Khám phá ngay</a>
                                </div>
                            </div>
                        </div>
                        <h3><a href="#">Dưỡng tâm</a></h3>
                        <p>Dịch vụ phòng như thế nào, biệt thự dưỡng tâm. Ăn: thực phẩm dưỡng sinh; có bác sĩ chỉ định; chế độ đặc biệt được thiết lập sẵn, yoga( hằng ngày); đọc sách; chơi cờ ...</p>
                    </article>*@
                    <article class="col-sm-6 col-md-4 article has-hover-s3">
                        <div class="img-wrap">
                            <a href="#">
                                <img src="~/Content/NaturalLife/img/service/ob.jpg" height="215" width="370" alt="image description">
                            </a>
                            <div class="img-caption text-uppercase">Ông bà tôi</div>
                            <div class="hover-article">
                                <div class="star-rating">
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span class="disable"><span class="icon-star"></span></span>
                                </div>
                                <div class="icons">
                                    <a href="#"><span class="icon-heart"></span></a>
                                    <a href="#"><span class="icon-reply"></span></a>
                                </div>
                                <div class="info-footer">
                                    <span class="price">từ<span>2.749.000 VNĐ</span></span>
                                    <a href="/service/detail" class="link-more">Khám phá ngay</a>
                                </div>
                            </div>
                        </div>
                        <h3><a href="/service/detail">Thuở ban đầu ấy</a></h3>
                        <p>
                            Ngàn mối lương duyên kết nối Đà Lạt với con người khiến nơi đây trở
                            thành địa danh nổi tiếng không thể bỏ qua. Tour Đà Lạt xưa là một nỗ lực ...
                        </p>
                    </article>
                    @*<article class="col-sm-6 col-md-4 article has-hover-s3">
                        <div class="img-wrap">
                            <a href="#">
                                <img src="~/Content/NaturalLife/img/listing/img-06.jpg" height="215" width="370" alt="image description">
                            </a>
                            <div class="img-caption text-uppercase">Tuổi học trò</div>
                            <div class="hover-article">
                                <div class="star-rating">
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span class="disable"><span class="icon-star"></span></span>
                                </div>
                                <div class="icons">
                                    <a href="#"><span class="icon-heart"></span></a>
                                    <a href="#"><span class="icon-reply"></span></a>
                                </div>
                                <div class="info-footer">
                                    <span class="price">từ<span>2.749.000 VNĐ</span></span>
                                    <a href="/service/detail" class="link-more">Khám phá ngay</a>
                                </div>
                            </div>
                        </div>
                        <h3><a href="#">Giáo dục, khám giá thiên nhiên</a></h3>
                        <p>Tour dành cho sinh viên thực tập, ra trường thích khám phá, trẻ em của khách hàng tham gia tour dưỡng tâm. Có người hướng dẫn tham gia các hoạt động...</p>
                    </article>*@
                </div>
            </div>
        </div>
    </div>
    <!-- couter block -->
    <aside class="count-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-md-3 block-1">
                    <div class="holder">
                        <span class="icon icon-step"></span>
                        <span class="info"><span class="counter">5</span></span>
                        <span class="txt">VILLA</span>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 block-2">
                    <div class="holder">
                        <span class="icon icon-fish-jumping"></span>
                        <span class="info"><span class="counter">9</span></span>
                        <span class="txt">BUNGALOW</span>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 block-4">
                    <div class="holder">
                        <span class="icon icon-duration"></span>
                        <span class="info"><span class="counter">25</span></span>
                        <span class="txt">CAMPING</span>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 block-3">
                    <div class="holder">
                        <span class="icon icon-tree"></span>
                        <span class="info"><span class="counter">40</span></span>
                        <span class="txt">ROOM</span>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <!-- special block -->
    <aside id="restaurant" class="real-natural">
        <div class="video-natural container">
            <video poster="~/Content/NaturalLife/img/logos/Naturallife.png" muted loop autoplay>
              <source src="~/Content/NaturalLife/video/naturalLife.mp4" type="video/mp4">
              <source src="~/Content/NaturalLife/video/naturalLife.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video> 
            @*<iframe id="video_testimonials" width="100%" height="600px" src="https://www.youtube.com/watch?v=Wddo7YAuBLU"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*@
        </div>
        <div class="container-fluid video-slider">

            <div id="slideHills" class="container carousel slide" data-ride="carousel">
                <div class="caption text-center">
                    <h2 class="text-white">Natural Life Đà Lạt</h2>
                </div>

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#slideHills" data-slide-to="0" class="active"></li>
                    <li data-target="#slideHills" data-slide-to="1"></li>
                    <li data-target="#slideHills" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">


                    <div class="item active">
                        <div class="item-hills text-center">
                            <p>Natural Life Đà Lạt toạ lạc trên một ngọn đồi cách Hồ Than Thở 02km và cách trung tâm Đà Lạt gần 7km về hướng đi Nha Trang, các bạn sẽ được đắm mình trong một không gian riêng biệt yên tĩnh, buổi sáng có thể nhâm nhi tách cà phê nóng trên đồi thông và lắng nghe hơi thở của thiên nhiên trong lành trong tiết trời se lạnh.</p>
                        </div>
                        <div class="caption text-center">
                            <h3>BIỆT THỰ NGHỈ DƯỠNG ĐÀ LẠT</h3>
                            <p>Natural Life Đà Lạt</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-hills text-center">
                            <p>Natural Life Đà Lạt sẽ mang đến cho bạn những hoạt động ngoài trời rất tuyệt vời, bạn có thể dạo bộ quanh đồi thông rộng 35ha, ngắm nhìn núi rừng trùng điệp dưới áng mây trôi lững lờ, lắng nghe tiếng thông thì thầm trong gió, hoặc tựa lưng vào gốc thông, ngồi bệt dưới bãi cỏ xanh rì gậm nhấm quyển sách mà bạn ưa thích.</p>
                        </div>
                        <div class="caption text-center">
                            <h3>BIỆT THỰ NGHỈ DƯỠNG ĐÀ LẠT</h3>
                            <p>Natural Life Đà Lạt</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-hills text-center">
                            <p>Những căn biệt thự của Natural Life Đà Lạt mang phong cách Châu âu, được trang trí nền nã, nhẹ nhàng, từ những mãnh gỗ rừng thiên nhiên tưởng chừng đã vứt bỏ, nhưng được tận dụng bố trí xinh xắn trên vách tường, làm đèn phòng ngủ thật lạ lẫm đến dễ thương.Đêm về, quanh chân đồi sáng rực hàng ngàn ngọn nến ẩn mình.</p>
                        </div>
                        <div class="caption text-center">
                            <h3>BIỆT THỰ NGHỈ DƯỠNG ĐÀ LẠT</h3>
                            <p>Natural Life Đà Lạt</p>
                        </div>
                    </div>

                </div>

                <!-- Left and right controls -->
                <!-- <a class="left carousel-control" href="#slideHills" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#slideHills" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a> -->
            </div>
        </div>
    </aside>
    <!-- featured adventure content -->
    <div class="featured-content adventure-holder">
        <div class="container-fluid">
            <div id="rentalService" class="row same-height">
                <div class="col-md-6 image height">
                    <div class="bg-stretch">
                        <img src="~/Content/NaturalLife/img/img-01.jpg" height="627" width="960" alt="image description">
                    </div>
                </div>
                <div class="col-md-6 text-block height">
                    <div class="centered">
                        <h2 class="intro-heading">Dịch vụ</h2>
                        <p class="intro">Đặc biệt, các bạn sẽ được tham quan, ngắm nhìn nhiều ruộng bắp cải, súp lơ xanh rì có hình dạng của những đoá hồng xanh khổng lồ, và trải nghiệm cảm giác không Resort nào có, được 1 ngày làm nông dân, khi chính tay gặt hái những nông sản như khoai tây, bắp cải, súp lơ, xà lách xanh nõn và tự chế biến các món ăn thu hoạch từ vườn rau, với không gian bếp tiện nghi, sạch sẽ riêng biệt. Thích nhất là những quả dâu chín mọng thơm ngát chờ đón bàn tay của các bạn...</p>
                        <a href="/service/index" class="btn btn-primary btn-lg">Khám phá ngay</a>
                    </div>
                </div>
            </div>
            <div id="activities" class="row same-height">
                <div class="col-md-6 image height">
                    <div class="bg-stretch">
                        <img src="~/Content/NaturalLife/img/img-02.jpg" height="627" width="960" alt="image description">
                    </div>
                </div>
                <div class="col-md-6 text-block height">
                    <div class="centered">
                        <h2 class="intro-heading">Hoạt động</h2>
                        <p class="intro">Natural Life Đà Lạt sẽ mang đến cho bạn những hoạt động ngoài trời rất tuyệt vời, bạn có thể dạo bộ quanh đồi thông rộng 35ha, ngắm nhìn núi rừng trùng điệp dưới áng mây trôi lững lờ, lắng nghe tiếng thông thì thầm trong gió, hoặc tựa lưng vào gốc thông, ngồi bệt dưới bãi cỏ xanh rì gậm nhấm quyển sách mà bạn ưa thích.</p>
                        <a href="/activity/index" class="btn btn-primary btn-lg">Khám phá ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="spacing-t"></div> -->
    <!-- browse block -->
    <div class="browse-block">
        <div class="browse-destination column">
            <a href="/activity/index"><span>XEM CÁC HOẠT ĐỘNG</span></a>
        </div>
        <div class="browse-adventures column">
            <a href="/service/index"><span>XEM CÁC DỊCH VỤ</span></a>
        </div>
    </div>
    <!-- special block -->
    <aside class="special-block">
        <div class="container">
            <div class="caption text-center">
                <h2>Khám phá ngay</h2>
            </div>
            <div class="banner-text">
                <div class="center-text">
                    <div class="trip-form banner-trip-form">
                        <fieldset>
                            <div class="holder special-holder mr-b">
                                Natural Life Đà Lạt sẽ là sự lựa chọn tuyệt nhất cho bạn và gia đình bạn!!!
                            </div>
                            <div class="holder mr-b"><input class="btn btn-trip" ng-click="isoverFlowForm = !isoverFlowForm" data-toggle="collapse" data-target="#formBook" type="button" value="Đặt Ngay"></div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- testimonial block -->
    <div id="special" class="testimonial-holder parallax" data-stellar-background-ratio="0.25" id="testimonial-home-page">
        <div class="container">
            <div id="testimonial-home-slide">
                <div class="slide">
                    <blockquote class="testimonial-quote">
                        <div class="img">
                            <div class="demo-wrapper single-item demo-wrapper-0">
                                <div id="special-slide1">
                                    <div style="height: 220px; background: #f8f8f8 url(/Content/NaturalLife/img/villa/special-0.jpg) center no-repeat / cover;" class="attachment-550x358 size-550x358 wp-post-image" alt="" itemprop="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <cite>SỰ KIỆN ĐẶC BIỆT</cite>
                            <q>Ngắm nhìn núi rừng trùng điệp dưới áng mây trôi lững lờ, lắng nghe tiếng thông thì thầm trong gió, hoặc tựa lưng vào gốc thông, ngồi bệt dưới bãi cỏ xanh rì gậm nhấm quyển sách mà bạn ưa thích.”</q>
                        </div>
                    </blockquote>
                </div>
                <div class="slide">
                    <blockquote class="testimonial-quote">
                        <div class="img">
                            <div class="demo-wrapper single-item demo-wrapper-0">
                                <div id="special-slide2">
                                    <div style="height: 220px; background: #f8f8f8 url(/Content/NaturalLife/img/villa/villa-5.jpg) center no-repeat / cover;" class="attachment-550x358 size-550x358 wp-post-image" alt="" itemprop="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <cite>CHÂN ĐỒI MỘNG MƠ</cite>
                            <q>Đêm về, quanh chân đồi sáng rực hàng ngàn ngọn nến ẩn mình, lấp ló giữa những rặng thông xanh, được tỏa ra từ những vườn hoa thật lãng mạn, quyến rủ đến khó cưỡng.”</q>
                        </div>
                    </blockquote>
                </div>
                <div class="slide">
                    <blockquote class="testimonial-quote">
                        <div class="img">
                            <div class="demo-wrapper single-item demo-wrapper-0">
                                <div id="special-slide3">
                                    <div style="height: 220px; background: #f8f8f8 url(/Content/NaturalLife/img/villa/special-2.jpg) center no-repeat / cover;" class="attachment-550x358 size-550x358 wp-post-image" alt="" itemprop="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <cite>THIÊN NHIÊN</cite>
                            <q>Đặc biệt, các bạn sẽ được tham quan, ngắm nhìn nhiều ruộng bắp cải, súp lơ xanh rì có hình dạng của những đoá hồng xanh khổng lồ.”</q>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- partner list -->
    <article class="partner-block">
        <div class="container">
            <header class="content-heading">
                <h2 class="main-heading">Đối tác</h2>
                <span class="main-subtitle">Những người luôn ủng hộ và ủng hộ công việc tốt của chúng tôi</span>
                <div class="seperator"></div>
            </header>
            <div class="partner-list" id="partner-slide">
                <div class="partner">
                    <a href="#">
                        <img width="130" src="~/Content/NaturalLife/img/logos/company1.jpg" alt="image description">
                        <img class="hover" width="130" src="~/Content/NaturalLife/img/logos/company1.jpg" alt="image description">
                    </a>
                </div>
                <div class="partner">
                    <a href="#">
                        <img width="130" src="~/Content/NaturalLife/img/logos/company2.jpg" alt="image description">
                        <img class="hover" width="130" src="~/Content/NaturalLife/img/logos/company2.jpg" alt="image description">
                    </a>
                </div>
                <div class="partner">
                    <a href="#">
                        <img width="130" src="~/Content/NaturalLife/img/logos/company3.jpg" alt="image description">
                        <img class="hover" width="130" src="~/Content/NaturalLife/img/logos/company3.jpg" alt="image description">
                    </a>
                </div>
                <div class="partner">
                    <a href="#">
                        <img width="130" src="~/Content/NaturalLife/img/logos/company4.jpg" alt="image description">
                        <img class="hover" width="130" src="~/Content/NaturalLife/img/logos/company4.jpg" alt="image description">
                    </a>
                </div>
                <div class="partner">
                    <a href="#">
                        <img width="130" src="~/Content/NaturalLife/img/logos/company5.jpg" alt="image description">
                        <img class="hover" width="130" src="~/Content/NaturalLife/img/logos/company5.jpg" alt="image description">
                    </a>
                </div>
                <div class="partner">
                    <a href="#">
                        <img width="130" src="~/Content/NaturalLife/img/logos/company6.jpg" alt="image description">
                        <img class="hover" width="130" src="~/Content/NaturalLife/img/logos/company6.jpg" alt="image description">
                    </a>
                </div>
            </div>
        </div>
    </article>
</main>