@using PagedList.Mvc;
@using GridMvc.Html;
@model PagedList.IPagedList<NaturalLife.Models.NTL_Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- main banner -->
<section class="banner banner-inner parallax" data-stellar-background-ratio="0.5" id="blog-default">
    <div class="banner-text">
        <div class="center-text">
            <div class="container hidden-md hidden-lg">
                <br />
                <h1 class="text-center">BLOG DU LỊCH</h1>
                <strong class="subtitle text-center">Các chủ đề phiêu lưu chi tiết và hiện đại nhất!</strong>
                <!-- breadcrumb -->
                @*<nav class="breadcrumbs">
                    <ul>
                        <li><a href="/home/index">Trang chủ</a></li>
                        <li><span>Blog</span></li>
                    </ul>
                </nav>*@
            </div>
        </div>
    </div>
</section>
<!-- main container -->
<main id="main">
    <div class="content-with-sidebar common-spacing content-left">
        <div class="container">
            <header class="content-heading hidden-xs hidden-sm">
                <h2 class="main-heading">BLOG</h2>
                <strong class="main-subtitle">Các chủ đề phiêu lưu chi tiết và hiện đại nhất!</strong>
                <div class="seperator"></div>
            </header><br />
            <div id="two-columns" class="row">
                <div id="content" class="col-sm-8 col-md-9">
                    <div class="blog-holder">
                        <!-- blog list -->
                        <div class="blog-list list-view">
                            @foreach (var item in Model)
                            {
                                <article class="article blog-article">
                                    <div class="thumbnail">
                                        <div class="img-wrap">
                                            <a href="#"><img src="~/Images/website/imageblog/@item.Avatar" height="240" width="350" alt="image description"></a>
                                        </div>
                                        <div class="description">
                                            <header class="heading">
                                                <h3><a href="/blog/detail/@item.ID">@item.Title</a></h3>
                                                <time class="info-day" datetime="2011-01-12">@item.CreatedDate.Value.ToString("dd/MM/yyyy")</time>
                                            </header>
                                           @if(item.ContentBlog.Length > 100)
                                           {
                                               Html.Raw(item.ContentBlog.Substring(0, 100));
                                           }
                                           else { Html.Raw(item.ContentBlog); }
                                            <footer class="meta">
                                                @Html.Raw(Model.FirstOrDefault().ContentBlog)
                                                <div class="footer-sub">
                                                    <div class="rate-info">
                                                        Đăng bởi <a href="/blog/detail/@item.ID">@item.CreatedBy</a>
                                                    </div>
                                                </div>
                                            </footer>
                                            <div class="link-view">
                                                <a href="/blog/detail/@item.ID">ĐỌC BÀI VIẾT</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            }


                        </div>
                    </div>
                    <!-- pagination wrap -->
                    <nav class="pagination-wrap bg-gray">
                        <strong style="margin: 12px;"> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</strong>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </nav>
                </div>
                <!-- sidebar -->
                <aside id="sidebar" class="col-sm-4 col-md-3 sidebar">
                    <div class="sidebar-holder">
                        <div class="accordion">
                            <div class="accordion-group">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1">TOP DANH MỤC</a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body">
                                        <ul class="side-list category-side-list hovered-list">
                                            <li>
                                                <a href="#">
                                                    <span class="text">Chia sẻ kinh nghiệm du lịch</span>
                                                    <span class="count">71</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="text">Khảo sát khách hàng</span>
                                                    <span class="count">79</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="text">Dụng cụ chuyên dụng khi đi du lịch</span>
                                                    <span class="count">33</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="text">Địa điểm bất thường</span>
                                                    <span class="count">93</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="text">Du lịch nữ</span>
                                                    <span class="count">69</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" href="#collapse2" aria-expanded="true" aria-controls="collapse2">BÀI ĐĂNG GẦN ĐÂY</a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body">
                                        <ul class="side-list post-list hovered-list">
                                            <li>
                                                <a href="#">
                                                    <time datetime="2011-06-19">14/8/2018</time>
                                                    <span class="text-block">
                                                        Trãi nghiệm du lịch Resort tại Đà lạt
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <time datetime="2011-06-19">14/6/2018</time>
                                                    <span class="text-block">
                                                        Trãi nghiệm du lịch Resort tại Đà lạt
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <time datetime="2011-06-19">14/8/2017</time>
                                                    <span class="text-block">
                                                        Trãi nghiệm du lịch Resort tại Đà lạt
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" href="#collapse5" aria-expanded="true" aria-controls="collapse5">ĐĂNG KÝ</a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body">
                                        <form class="subscribe-form">
                                            <fieldset>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder='Họ và tên'>
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder='Địa chỉ Email'>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder='Local Town'>
                                                </div>
                                                <div class="btn-holder">
                                                    <button type="submit" class="btn btn-default">ĐĂNG KÝ</button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</main>
