@model IEnumerable<NaturalLife.Models.Data.ServiceDetail>
@using NaturalLife.Models
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] arrStr;
    string[] arrStrImage;
    int day = 1;
    string sodau = "";
    string sosau = "";
    int sdau = 0;
    int ssau = 0;
    int count = 0;
    int skip = 0;
    string href = "#collapse";
    string id = "collapse";
    int dem = 1;
    string lich = "";
    NaturalLifeEntities db = new NaturalLifeEntities();
    var rs = db.NTL_Service.ToList();
}

<!-- main container -->
<main id="main">
    <!-- main tour information -->
    <section class="container-fluid trip-info">
        <div class="same-height two-columns row">
            <div class="height col-md-6">
                <!-- top image slideshow -->
                <div id="tour-slide">
                    @if (Model.FirstOrDefault().Service.FirstOrDefault().Images != null)
                    {
                        if (Model.FirstOrDefault().Service.FirstOrDefault().Images.Contains(","))
                        {
                            arrStr = Model.FirstOrDefault().Service.FirstOrDefault().Images.Split(',');
                            foreach (var item in arrStr)
                            {
                                <div class="slide">
                                    <div class="bg-stretch">
                                        <img src="~/Images/website/imageservice/@item" alt="image descriprion" height="1104" width="966">
                                    </div>
                                </div>

                            }
                        }
                        else
                        {
                            <div class="slide">
                                <div class="bg-stretch">
                                    <img src="~/Images/website/imageservice/@Model.FirstOrDefault().Service.FirstOrDefault().Images" alt="image descriprion" height="1104" width="966">
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="height col-md-6 text-col">
                <div class="holder">
                    <h1 class="small-size">@Model.FirstOrDefault().Service.FirstOrDefault().ServiceName</h1>
                    <div class="price">
                        Giá <strong>@string.Format("{0:n0}", Model.FirstOrDefault().Service.FirstOrDefault().Price)</strong>
                    </div>
                    <div class="description">
                        @if (Model.FirstOrDefault().Service.FirstOrDefault().Description.Length > 500)
                        {
                            @Html.Raw(Model.FirstOrDefault().Service.FirstOrDefault().Description.Substring(0,500)) <a href="#description">... Xem thêm</a>
                        }
                        else
                        {@Html.Raw(Model.FirstOrDefault().Service.FirstOrDefault().Description)}
                    </div>
                    <ul class="reviews-info">
                        <li>
                            <div class="info-right">
                                <div class="star-rating">
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span><span class="icon-star"></span></span>
                                    <span class="disable"><span class="icon-star"></span></span>
                                </div>
                                <span class="value">4/5</span>
                            </div>
                        </li>
                        <li>
                            <div class="info-left">
                                <strong class="title">Kiểu tour</strong>
                                <span class="value">@Model.FirstOrDefault().Service.FirstOrDefault().ServiceType</span>
                            </div>
                            <div class="info-right">
                                <ul class="ico-list">
                                    <li>
                                        <span class="icon icon-hiking"></span>
                                    </li>
                                    <li>
                                        <span class="icon icon-tree"></span>
                                    </li>
                                    <li>
                                        <span class="icon icon-person"></span>
                                    </li>
                                    <li>
                                        <span class="icon icon-home"></span>
                                    </li>
                                </ul>
                                <span class="value">Villa</span>
                            </div>
                        </li>
                        @*<li>
                            <div class="info-left">
                                <strong class="title">Mức độ hoạt động</strong>
                                <span class="value">Bình thường</span>
                            </div>
                            <div class="info-right">
                                <ul class="ico-list">
                                    <li>
                                        <span class="icon icon-level3"></span>
                                    </li>
                                    <li>
                                        <span class="icon icon-level5"></span>
                                    </li>
                                    <li>
                                        <span class="icon icon-level7"></span>
                                    </li>
                                </ul>
                                <span class="value">9/10</span>
                            </div>
                        </li>
                        <li>
                            <div class="info-left">
                                <strong class="title">Hoạt động</strong>
                                <span class="value">Số người tham gia</span>
                            </div>
                            <div class="info-right">
                                <ul class="ico-list">
                                    <li>
                                        <span class="icon icon-group-small"></span>
                                    </li>
                                    <li>
                                        <span class="icon icon-group-medium"></span>
                                    </li>
                                    <li>
                                        <span class="icon icon-group-large"></span>
                                    </li>
                                </ul>
                                <span class="value">6/10</span>
                            </div>
                        </li>*@
                    </ul>
                    <div class="btn-holder">
                        <a href="#" class="btn btn-lg btn-info" ng-click="isoverFlowForm = !isoverFlowForm" data-toggle="collapse" data-target="#formBook">ĐĂNG KÝ NGAY</a>
                    </div>
                    <ul class="social-networks social-share">
                        <li>
                            <a href="#" class="facebook">
                                <span class="ico">
                                    <span class="icon-facebook"></span>
                                </span>
                                <span class="text">Share</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <span class="ico">
                                    <span class="icon-twitter"></span>
                                </span>
                                <span class="text">Tweet</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="google">
                                <span class="ico">
                                    <span class="icon-google-plus"></span>
                                </span>
                                <span class="text">+1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pin">
                                <span class="ico">
                                    <span class="icon-pin"></span>
                                </span>
                                <span class="text">Pin it</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="tab-container" id="description">
        <nav class="nav-wrap" id="sticky-tab">
            <div class="container">
                <!-- nav tabs -->
                <ul class="nav nav-tabs text-center" role="tablist">
                    <li role="presentation" class="active"><a href="#tab01" aria-controls="tab01" role="tab" data-toggle="tab">Tổng quan</a></li>
                    <li role="presentation"><a href="#tab02" aria-controls="tab02" role="tab" data-toggle="tab">Hành trình</a></li>
                    <li role="presentation"><a href="#tab03" aria-controls="tab03" role="tab" data-toggle="tab">Nhà nghỉ</a></li>
                    <!-- <li role="presentation"><a href="#tab04" aria-controls="tab04" role="tab" data-toggle="tab">Hỏi đáp &amp; Đánh giá</a></li> -->
                    <li role="presentation"><a href="#tab05" aria-controls="tab05" role="tab" data-toggle="tab">Bộ sưu tập</a></li>
                    @*<li role="presentation"><a href="#tab06" aria-controls="tab06" role="tab" data-toggle="tab">Lịch trình &amp; Giá</a></li>*@
                </ul>
            </div>
        </nav>
        <!-- tab panes -->
        <div class="container tab-content trip-detail">
            <!-- overview tab content -->
            <div role="tabpanel" class="tab-pane active" id="tab01">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="header-box">Tất cả về cổ điển Đà Lạt</strong>
                        <div class="detail">
                            @Html.Raw(Model.FirstOrDefault().Service.FirstOrDefault().Description)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <strong class="header-box">Các gói dịch vụ bao gồm và các loại trừ</strong>
                        <div class="text-box">
                            <div class="holder">
                                <strong class="title">Những gì có trong chuyến tham quan này</strong>
                                <span class="sub-title">Các vật phẩm được bao gồm trong giá tour.</span>
                                 @Html.Raw(Model.FirstOrDefault().Service.FirstOrDefault().Advantage)
                            </div>
                        </div>
                        <div class="text-box not-included">
                            <div class="holder">
                                <strong class="title">Không có gì trong chuyến tham quan này</strong>
                                <span class="sub-title">Các vật phẩm được bao gồm trong giá tour.</span>
                                 @Html.Raw(Model.FirstOrDefault().Service.FirstOrDefault().Disadvantage)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- itinerary tab content -->
            <div role="tabpanel" class="tab-pane" id="tab02">
                <div class="row">
                    <div class="col-md-12">
                        @if (Model.FirstOrDefault().Service.FirstOrDefault().PDFLink != "" || Model.FirstOrDefault().Service.FirstOrDefault().PDFLink != null)
                        {
                            @Html.Raw(Model.FirstOrDefault().Service.FirstOrDefault().PDFLink);
                        }
                        else
                        {
                            <p>Chưa có hành trình cụ thể</p>
                        }

                        @*<ol class="detail-accordion">
            @foreach (var item in Model.FirstOrDefault().Adventure)
            {
                sodau = item.Time.Substring(0, 2);
                sosau = item.Time.Substring(6, 2);
                sdau = int.Parse(sodau);
                ssau = int.Parse(sosau);
                if (sdau > ssau)
                {
                    count++;
                }
            }
            @for (int i = 0; i < count + 1; i++)
            {
                <li>
                    <a class="day_accordion" href="#" style="height:65px">
                        <strong class="title">Ngày @day</strong>
                    </a>
                    <div class="slide slideDate">
                        <div class="slide-holder">
                            <div class="demo-wrapper">
                                <ol class="subdetail-accordion accordion" id="accordion">
                                    @foreach (var item in Model.FirstOrDefault().Adventure.Skip(skip))
                                    {
                                        sodau = item.Time.Substring(0, 2);
                                        sosau = item.Time.Substring(6, 2);
                                        sdau = int.Parse(sodau);
                                        ssau = int.Parse(sosau);
                                        if (sdau <= ssau)
                                        {
                                            href += dem.ToString();
                                            id += dem.ToString();
                                            <li class="panel">
                                                <a class="deDay_accordion" data-toggle="collapse" data-parent="#accordion" href="@href">
                                                    <strong class="deDay_title">@item.Time</strong>
                                                    <span>@item.Activity</span>
                                                </a>
                                                <div id="@id" class="slide collapse">
                                                    <hr>
                                                    <div class="slide-hold">
                                                        <p>
                                                            @item.DetailActivity
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            skip++;
                                            dem++;
                                        }
                                        else if (sdau > ssau)
                                        {
                                            href += dem.ToString();
                                            id += dem.ToString();
                                            <li class="panel">
                                                <a class="deDay_accordion" data-toggle="collapse" data-parent="#accordion" href="@href">
                                                    <strong class="deDay_title">@item.Time</strong>
                                                    <span>@item.Activity</span>
                                                </a>
                                                <div id="@id" class="slide collapse">
                                                    <hr>
                                                    <div class="slide-hold">
                                                        <p>
                                                            @item.DetailActivity
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            skip++;
                                            dem++;
                                            break;
                                        }
                                    }
                                </ol>
                            </div>
                        </div>
                    </div>
                </li>
                day++;
            }

        </ol>*@
                    </div>
                    @*<div class="col-md-6">
                        <article class="img-article article-light">
                            <div class="img-wrap">
                                <img src="~/Images/website/imageservice/@Model.FirstOrDefault().Service.FirstOrDefault().Avatar" height="319" width="570" alt="image description">
                            </div>
                            <div class="text-block">
                                <h3><a href="#">@Model.FirstOrDefault().Service.FirstOrDefault().ServiceName</a></h3>
                            </div>
                        </article>
                    </div>*@
                </div>
            </div>
            <!-- accomodation tab content -->
            <div role="tabpanel" class="tab-pane" id="tab03">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="header-box">VILLA</strong>
                        <div class="detail">
                           @Html.Raw(Model.FirstOrDefault().Service.FirstOrDefault().Description)
                        </div>
                    </div>
                    <div class="col-md-6 accomodation-block">
                        <strong class="header-box">Các gói dịch vụ bao gồm và các loại trừ</strong>
                        <div class="text-box">
                            <div class="holder">
                                <strong class="title">Phòng chung bao gồm trong giá</strong>
                                <span class="sub-title">Các vật phẩm được bao gồm trong giá tour.</span>
                                <div class="img-holder">
                                    <img src="~/Images/website/imageservice/@Model.FirstOrDefault().Service.FirstOrDefault().AvatarIn" height="467" width="700" alt="image description">
                                </div>
                            </div>
                        </div>
                        <div class="text-box not-included">
                            <div class="holder">
                                <strong class="title">Phòng riêng không được bao gồm trong giá</strong>
                                <span class="sub-title">Các vật phẩm không được bao gồm trong giá tour.</span>
                                <div class="img-holder">
                                    <img src="~/Images/website/imageservice/@Model.FirstOrDefault().Service.FirstOrDefault().AvatarOut" height="467" width="700" alt="image description">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <!-- gallery tab content -->
            <div role="tabpanel" class="tab-pane" id="tab05">
                <ul class="row gallery-list has-center">
                    @if (Model.FirstOrDefault().Service.FirstOrDefault().ImageCollection != null)
                    {
                        if (Model.FirstOrDefault().Service.FirstOrDefault().ImageCollection.Contains(","))
                        {
                            arrStrImage = Model.FirstOrDefault().Service.FirstOrDefault().ImageCollection.Split(',');
                            foreach (var item in arrStrImage)
                            {
                                <li class="col-sm-6">
                                    <a class="fancybox" data-fancybox-group="group" href="~/Images/website/imageservice/@item" title="@Model.FirstOrDefault().Service.FirstOrDefault().ServiceName">
                                        <span class="img-holder">
                                            <img src="~/Images/website/imageservice/@item" style="height:250px" width="450" alt="image description">
                                        </span>
                                        <span class="caption">
                                            <span class="centered">
                                                <strong class="title">Hình ảnh @Model.FirstOrDefault().Service.FirstOrDefault().ServiceName</strong>
                                                <span class="sub-text">Natural Life</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            }

                        }
                        else
                        {
                            <li class="col-sm-6">
                                <a class="fancybox" data-fancybox-group="group" href="~/Images/website/imageservice/@Model.FirstOrDefault().Service.FirstOrDefault().ImageCollection" title="@Model.FirstOrDefault().Service.FirstOrDefault().ServiceName">
                                    <span class="img-holder">
                                        <img src="~/Images/website/imageservice/@Model.FirstOrDefault().Service.FirstOrDefault().ImageCollection" style="height:250px" width="450" alt="image description">
                                    </span>
                                    <span class="caption">
                                        <span class="centered">
                                            <strong class="title">Hình ảnh @Model.FirstOrDefault().Service.FirstOrDefault().ServiceName</strong>
                                            <span class="sub-text">Natural Life</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        }

                    }
                </ul>
            </div>
            <!-- dates and prices tab content -->
            <div role="tabpanel" class="tab-pane" id="tab06">
                <div class="table-container">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <strong class="date-text">Loại</strong>
                                    </th>
                                    <th>
                                        <strong class="date-text">Ngày khởi hành</strong>
                                    </th>
                                    <th>
                                        <strong class="date-text">Trạng thái chuyến đi</strong>
                                    </th>
                                    <th>
                                        <strong class="date-text">Giá trong ngàu</strong>
                                    </th>
                                    <th>
                                        <strong class="date-text">Giá cuối tuần</strong>
                                    </th>
                                    <th>
                                        <strong class="date-text">Giá ngày lễ</strong>
                                    </th>

                                    <th>
                                        &nbsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.FirstOrDefault().Schedule)
                                        {
                                <tr>
                                    <td><div class="cell"><div class="middle">@item.TourType</div></div></td>
                                    <td><div class="cell"><div class="middle">@lich</div></div></td>
                                    <td><div class="cell"><div class="middle">@item.Status</div></div></td>
                                    <td><div class="cell"><div class="middle">@string.Format("{0:n0}", item.PriceDay)</div></div></td>
                                    <td><div class="cell"><div class="middle">@string.Format("{0:n0}", item.PriceWeekend)</div></div></td>
                                    <td><div class="cell"><div class="middle">@string.Format("{0:n0}", item.PriceHoliday)</div></div></td>
                                    <td>
                                        <div class="cell">
                                            <div class="middle">
                                                <a href="#" class="btn btn-default">ĐĂNG KÝ NGAY</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- recent block -->
    <aside class="recent-block recent-gray recent-wide-thumbnail">
        <div class="container">
            <h2 class="text-center text-uppercase">CÁC DỊCH VỤ KHÁC</h2>
            <div class="row">
                @foreach (var item in rs)
                {
                    if (item.ID != Model.FirstOrDefault().Service.FirstOrDefault().ID)
                    {
                        <article class="col-sm-6 col-md-3 article">
                            <div class="thumbnail">
                                <h3 class="no-space"><a href="#">@item.ServiceName</a></h3>
                                <strong class="info-title">@item.ServiceName</strong>
                                <div class="img-wrap">
                                    <img src="~/Images/website/imageservice/@item.Avatar" height="210" width="250" alt="image description">
                                </div>
                                <footer>
                                    <div class="sub-info">
                                        <span>@string.Format("{0:n0}", item.Price)</span>
                                    </div>
                                    <ul class="ico-list">
                                        <li class="pop-opener">
                                            <a href="#">
                                                <span class="icon-hiking"></span>
                                                <span class="popup">
                                                    Hiking
                                                </span>
                                            </a>
                                        </li>
                                        <li class="pop-opener">
                                            <a href="#">
                                                <span class="icon-mountain"></span>
                                                <span class="popup">
                                                    Mountain
                                                </span>
                                            </a>
                                        </li>
                                        <li class="pop-opener">
                                            <a href="#">
                                                <span class="icon-level5"></span>
                                                <span class="popup">
                                                    Level 5
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </footer>
                            </div>
                        </article>
                    }

                }


            </div>
        </div>
    </aside>
</main>
<script type="text/javascript">
    document.querySelector("body").classList.add("default-page");
</script>
